$color-gray-200: #f9faff;
$color-gray-300: #f6f7fb;
$color-gray-400: #e7eaf3;
$color-gray-500: #cfd5f0;
$color-gray-600: #8890b8;
$color-gray-700: #505a8a;

$color-green-400: #008574;
$color-green-500: #056e62;

$color-white: #ffffff;
$color-black: #021d54;

$color-lemon-400: #e8ff8a;
$color-lemon-500: #e0ff5f;
