@mixin font($size, $weight, $lineHeight, $namespace: null, $onlyVars: false) {
  @if ($namespace) {
    @if ($onlyVars) {
      --#{$namespace}-font-size: #{$size};
      --#{$namespace}-font-weight: #{$weight};
      --#{$namespace}-line-height: #{$lineHeight};
    } @else {
      font-size: var(--#{$namespace}-font-size, $size);
      font-weight: var(--#{$namespace}-font-weight, $weight);
      line-height: var(--#{$namespace}-line-height, $lineHeight);
    }
  } @else {
    font-size: $size;
    font-weight: $weight;
    line-height: $lineHeight;
  }
}
